
<div *ngIf="tickets.length>0; else noTicket" style="padding-top: 2em;">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div style="padding-bottom: 2em; padding-right: 2em;" *ngFor="let ticket of tickets; let i = index;">
        <mat-card class="checkin" fxFlex="30em">
            <mat-card-content>
                <div fxLayout="column" style="padding-top: 1em;">
                    <div style="font-size: xx-large;">Ticket info: </div>
                    <div style="height:2em;"></div>
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Bardcode: </div>
                        <div fxFlex="50">{{ticket.id}}</div>
                        <div fxFlex="30"></div>
                    </div>
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Price: </div>
                        <div fxFlex="50">{{ticket.flight.price}}</div>
                        <div fxFlex="30"></div>
                    </div>
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Seat: </div>
                        <div fxFlex="50">{{ticket.seat}}</div>
                        <div fxFlex="30"></div>
                    </div>
                </div>
                <div fxLayout="column" style="padding-top: 3em;">
                    <div style="font-size: xx-large;">Flight info: </div>
                    <div style="height:2em;"></div>
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Departure: </div>
                        <div fxFlex="50">{{ticket.flight.departurePlace}}</div>
                        <div fxFlex="30"></div>
                    </div>
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Destination: </div>
                        <div fxFlex="50">{{ticket.flight.destination}}</div>
                        <div fxFlex="30"></div>
                    </div>     
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Departure Date: </div>
                        <div fxFlex="50">{{ticket.flight.flightDate}}</div>
                        <div fxFlex="30"></div>
                    </div>       
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Departure Time: </div>
                        <div fxFlex="50">{{ticket.flight.departureTime}}</div>
                        <div fxFlex="30"></div>
                    </div>            
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Arrival Time: </div>
                        <div fxFlex="50">{{ticket.flight.arrivalTime}}</div>
                        <div fxFlex="30"></div>
                    </div>
                    <div fxLayout="row" style="font-weight: bolder;">
                        <div fxFlex="30"></div>
                        <div fxFlex="50">Flight number: </div>
                        <div fxFlex="50">{{ticket.flight.flightNumber}}</div>
                        <div fxFlex="30"></div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    </div>
</div>
<ng-template #noTicket>
    <div  style="color: red; font-size: larger;">
        No ticket is provided
    </div>
</ng-template>
