<!-- <app-header></app-header>
<app-page-menu></app-page-menu> -->


<!-- <div id="bg"></div>
<form>
  <div class="form-field">
    <input type="email" placeholder="Email / Username" required/>
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Password" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
</form> -->
<app-header *ngIf="_router.url!='/'"></app-header>
<router-outlet></router-outlet>
<div class="login" *ngIf="_router.url=='/'">
  <div class="margin"></div>
  <mat-card>
      <mat-card-content>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="example-full-width">
                  <mat-label>E-mail</mat-label>
                  <mat-icon matSuffix>account_circle</mat-icon>
                  <input type="email" matInput placeholder="johndoe@example.com">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="123456789">
                  <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
              <button mat-raised-button color="warn">Login</button>
          </form>
      </mat-card-content>
  </mat-card>
</div>