.example-card {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 90%;
}

mat-card {
    background: lightblue;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
width: 100%;
}